<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!isSearchBoxOpened">
      Ionic Search Bar
    </ion-title>
    <ion-searchbar *ngIf="isSearchBoxOpened" showCancelButton="true" (search)="onSearch($event)" (ionCancel)="isSearchBoxOpened=false"></ion-searchbar>
    <ion-buttons slot="secondary">
      <ion-button icon-only *ngIf="!isSearchBoxOpened" (click)="isSearchBoxOpened=true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Animated Search Bar</p>
  </div>
</ion-content>
